* {
  box-sizing: border-box;
}

header {
  padding: 32px 0px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
header .container {
  width: 65%;
  margin: auto;
}
header .container .upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
header .container .upper .logo {
  width: 230px;
  height: 48px;
  font-size: 60px;
}
header .container .upper .search-section {
  margin-top: 20px;
}
header .container .upper .search-section ul {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
header .container .upper .search-section ul li {
  border-right: 1px aolid gray;
  list-style: none;
}
header .container .upper .search-section ul .line {
  height: 15px;
  width: 2px;
  border-right: 2px;
  border-color: gray;
  color: gray;
}
header .container nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
header .container nav ul li {
  font-size: 18px;
  font-weight: bolder;
  list-style: none;
}

.container-addvertisement {
  width: 100%;
  height: 114px;
  padding: 12px 0px;
  margin-bottom: 30px;
  background-color: #f2f2f2;
}
.container-addvertisement .container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.container-addvertisement .container .addvertisement {
  transform: rotate(270deg);
  color: gray;
  font-size: 0.75rem;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.container-addvertisement .container .addvertisement-img img {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  margin: auto;
}
.container .hero-section {
  width: 65%;
  height: auto;
  margin: auto;
  margin-bottom: 30px;
}
.container .hero-section .hero-img-wrapper img {
  width: 100%;
  height: 100%;
}
.container .hero-section .content {
  background-color: #f2f2f2;
  padding: 40px;
}
.container .hero-section .content .link_wrapper {
  font-size: 3em;
  line-height: 1.25em;
  font-weight: 900;
  margin-bottom: 10px;
}
.container .hero-section .content p {
  font-size: 20px;
  margin-bottom: 10px;
}
.container .hero-section .content .by {
  font-size: 18px;
  margin-bottom: 10px;
}

.news-section {
  width: 65%;
  margin: 0 auto;
}
.news-section .left-section {
  width: 360px;
  border-right: 1px solid black;
  padding-right: 30px;
}
.news-section .left-section .latest-news-logo {
  width: 220;
  height: 75px;
  background-image: url("../images//Screenshot 2023-12-16 204441.png");
  background-repeat: no-repeat;
}
.news-section .left-section .latest-news-logo img {
  width: 100%;
  height: 100%;
}
.news-section .left-section .news-wrapper {
  border-bottom: 1px solid gray;
  padding: 10px 0px;
}
.news-section .left-section .news-wrapper .latest-news .time-category {
  margin-bottom: 10px;
}
.news-section .left-section .news-wrapper .latest-news .time-category .time {
  margin-left: 20px;
  font-weight: bold;
  color: gray;
  font-size: 16px;
}
.news-section .left-section .news-wrapper .latest-news .time-category .category {
  color: green;
  font-weight: bold;
  font-size: 16px;
}
.news-section .left-section .news-wrapper .latest-news .latest-news-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}
.news-section .left-section .news-wrapper .latest-news .latest-news-box .news-img {
  width: 104px !important;
  height: 70px;
}
.news-section .left-section .news-wrapper .latest-news .latest-news-box .news-img img {
  width: 100%;
  height: 100%;
}
.news-section .left-section .news-wrapper .latest-news .latest-news-box .news-img-content {
  width: 207px !important;
}
.news-section .left-section .news-wrapper .latest-news .latest-news-box .news-img-content .time-category {
  margin-bottom: 10px;
}
.news-section .left-section .news-wrapper .latest-news .latest-news-box .news-img-content .time-category .time {
  margin-left: 20px;
  font-size: 18px;
}
.news-section .left-section .news-wrapper .latest-news .latest-news-box .news-img-content .time-category .category {
  font-size: 18px;
  color: #217d4d;
  font-weight: 700;
}
.news-section .left-section .news-wrapper .latest-news .latest-news-box .news-img-content p {
  font-size: 18px;
  color: black;
  font-weight: 450;
  margin-bottom: 15px;
}
.news-section .left-section .news-wrapper .latest-news .latest-news-box .news-img-content .by {
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
  margin-top: 15px;
}
.news-section .main-section .mustReads-topStory {
  display: flex;
  justify-content: space-between;
}
.news-section .main-section .mustReads-topStory .part-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.news-section .main-section .mustReads-topStory .part-wrapper .left-part {
  width: 530px;
  border-right: 1px solid black;
}
.news-section .main-section .mustReads-topStory .part-wrapper .left-part .image-wrapper {
  padding: 0px 15px;
  width: 100%;
  height: auto;
}
.news-section .main-section .mustReads-topStory .part-wrapper .left-part .image-wrapper img {
  width: 100%;
  height: 100%;
}
.news-section .main-section .mustReads-topStory .part-wrapper .left-part .content h1 {
  padding: 25px;
  text-align: center;
  font-size: 32px;
}
.news-section .main-section .mustReads-topStory .part-wrapper .left-part .content p {
  padding: 15px;
  text-align: center;
  font-weight: 450;
  font-size: 28px;
}
.news-section .main-section .mustReads-topStory .part-wrapper .left-part .content span {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-section .main-section .mustReads-topStory .part-wrapper .right-part .must-reads-logo {
  border-image: linear-gradient(to right, #43cd7d, #39845f) 1;
  border-width: 8px;
  border-style: solid;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  padding: 10px;
}
.news-section .main-section .mustReads-topStory .part-wrapper .right-part .news-wrapper {
  border-bottom: 1px solid gray;
  padding: 10px 0px;
}
.news-section .main-section .mustReads-topStory .part-wrapper .right-part .news-wrapper .latest-news .time-category {
  margin-bottom: 10px;
}
.news-section .main-section .mustReads-topStory .part-wrapper .right-part .news-wrapper .latest-news .time-category .time {
  margin-left: 20px;
  font-size: 18px;
}
.news-section .main-section .mustReads-topStory .part-wrapper .right-part .news-wrapper .latest-news .time-category .category {
  font-size: 18px;
  color: #217d4d;
  font-weight: 700;
}
.news-section .main-section .mustReads-topStory .part-wrapper .right-part .news-wrapper .latest-news .latest-news-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}
.news-section .main-section .mustReads-topStory .part-wrapper .right-part .news-wrapper .latest-news .latest-news-box .news-img {
  width: 104px !important;
  height: 70px;
}
.news-section .main-section .mustReads-topStory .part-wrapper .right-part .news-wrapper .latest-news .latest-news-box .news-img img {
  width: 100%;
  height: 100%;
}
.news-section .main-section .mustReads-topStory .part-wrapper .right-part .news-wrapper .latest-news .latest-news-box .news-img-content {
  width: 207px !important;
}
.news-section .main-section .mustReads-topStory .part-wrapper .right-part .news-wrapper .latest-news .latest-news-box .news-img-content p {
  font-size: 18px;
  color: black;
  font-weight: 450;
  margin-bottom: 15px;
}
.news-section .main-section .mustReads-topStory .part-wrapper .right-part .news-wrapper .latest-news .latest-news-box .news-img-content .by {
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
  margin-top: 15px;
}
.news-section .main-section .mustReads-topStory .entertainers {
  padding: 40px;
  background-color: #f2f2f2;
  margin: 20px 0px 20px 20px;
}
.news-section .main-section .mustReads-topStory .entertainers .entertainer-title {
  margin-bottom: 20px;
}
.news-section .main-section .mustReads-topStory .entertainers .entertainer-parts {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.news-section .main-section .mustReads-topStory .entertainers .entertainer-parts .entertainer-left .img-wrapper {
  width: 358px;
  height: 358px;
  margin-bottom: 20px;
}
.news-section .main-section .mustReads-topStory .entertainers .entertainer-parts .entertainer-left .img-wrapper img {
  width: 100%;
  height: 100%;
}
.news-section .main-section .mustReads-topStory .entertainers .entertainer-parts .entertainer-right .latest-news .latest-news-box {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}
.news-section .main-section .mustReads-topStory .entertainers .entertainer-parts .entertainer-right .latest-news .latest-news-box .news-image {
  width: 144px !important;
  height: 95px;
}
.news-section .main-section .mustReads-topStory .entertainers .entertainer-parts .entertainer-right .latest-news .latest-news-box .news-image img {
  width: 100%;
  height: 100%;
}
.news-section .main-section .mustReads-topStory .entertainers .entertainer-parts .entertainer-right .latest-news .latest-news-box .news-img-content {
  width: 213px;
}
.news-section .main-section .mustReads-topStory .entertainers .entertainer-parts .entertainer-right .latest-news .latest-news-box .news-img-content .time-category {
  margin-bottom: 10px;
}
.news-section .main-section .mustReads-topStory .entertainers .entertainer-parts .entertainer-right .latest-news .latest-news-box .news-img-content .time-category .time {
  margin-left: 20px;
  font-size: 18px;
}
.news-section .main-section .mustReads-topStory .entertainers .entertainer-parts .entertainer-right .latest-news .latest-news-box .news-img-content .time-category .category {
  font-size: 18px;
  color: #217d4d;
  font-weight: 700;
}
.news-section .main-section .mustReads-topStory .entertainers .entertainer-parts .entertainer-right .latest-news .latest-news-box .news-img-content p {
  font-size: 18px;
  color: black;
  font-weight: 450;
  margin-bottom: 15px;
}
.news-section .main-section .mustReads-topStory .entertainers .entertainer-parts .entertainer-right .latest-news .latest-news-box .news-img-content .by {
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
  margin-top: 15px;
}

.stars-we-lost-section {
  margin-top: 25px;
  width: 100%;
  background-color: #f2f2f2;
}
.stars-we-lost-section .container {
  width: 65%;
  margin: auto;
  padding: 25px 0px;
}
.stars-we-lost-section .container .title {
  font-size: 40px;
  margin-bottom: 25px;
  font-weight: 900;
}
.stars-we-lost-section .container .star-cards {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}
.stars-we-lost-section .container .star-cards .card .img-wrapper {
  width: 364px;
  height: 242px;
  margin-bottom: 20px;
}
.stars-we-lost-section .container .star-cards .card .img-wrapper img {
  width: 100%;
  height: 100%;
}
.stars-we-lost-section .container .star-cards .card .content {
  padding-right: 25px;
  text-align: left;
}
.stars-we-lost-section .container-addvertisement {
  background-color: white;
  margin-bottom: 50px;
}

.awardists-section {
  margin-top: 25px;
  width: 100%;
  background-color: #f2f2f2;
}
.awardists-section .container {
  width: 65%;
  margin: auto;
  padding: 25px 0px;
}
.awardists-section .container .title {
  font-size: 40px;
  margin-bottom: 25px;
  font-weight: 900;
}
.awardists-section .container .star-cards {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}
.awardists-section .container .star-cards .card .img-wrapper {
  width: 364px;
  height: 242px;
  margin-bottom: 20px;
}
.awardists-section .container .star-cards .card .img-wrapper img {
  width: 100%;
  height: 100%;
}
.awardists-section .container .star-cards .card .content {
  padding-right: 25px;
  text-align: left;
}
.awardists-section .container .star-cards .card .content h1 {
  font-family: CaslonDoric, Times, serif;
  font-weight: 600;
  line-height: 1.5rem;
}
.awardists-section .container .star-cards .card .content .time-category {
  margin-bottom: 10px;
}
.awardists-section .container .star-cards .card .content .time-category .time {
  margin-left: 20px;
  font-size: 18px;
}
.awardists-section .container .star-cards .card .content .time-category .category {
  font-size: 18px;
  color: #217d4d;
  font-weight: 700;
}
.awardists-section .container .star-cards .card .content .by {
  line-height: 3rem;
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
}
.awardists-section .container-addvertisement {
  background-color: white;
  margin-bottom: 50px;
}

.more-news-section {
  width: 100%;
}
.more-news-section .container {
  width: 65%;
}
.more-news-section .container .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid black;
}
.more-news-section .container .title .title-logo {
  width: 50px;
  height: 47px;
  background-image: url("../images/Screenshot 2023-12-17 180511.png");
  background-repeat: no-repeat;
}
.more-news-section .container .title span {
  font-size: 55px;
  font-weight: 900;
  margin-left: 8px;
}
.more-news-section .container .news-container .news-wrapper .latest-news-box {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding: 25px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.more-news-section .container .news-container .news-wrapper .latest-news-box .news-img {
  width: 250px;
  height: 170px;
}
.more-news-section .container .news-container .news-wrapper .latest-news-box .news-img img {
  width: 100%;
  height: 100%;
}
.more-news-section .container .news-container .news-wrapper .latest-news-box .news-content .time-category {
  margin-bottom: 10px;
}
.more-news-section .container .news-container .news-wrapper .latest-news-box .news-content .time-category .time {
  margin-left: 20px;
  font-size: 18px;
}
.more-news-section .container .news-container .news-wrapper .latest-news-box .news-content .time-category .category {
  font-size: 18px;
  color: #217d4d;
  font-weight: 700;
}
.more-news-section .container .news-container .news-wrapper .latest-news-box .news-content .by {
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
  line-height: 3rem;
}

.from-the-archives-section {
  margin-top: 25px;
  width: 100%;
  background-color: #f2f2f2;
}
.from-the-archives-section .container {
  width: 65%;
  margin: auto;
  padding: 25px 0px;
}
.from-the-archives-section .container .title {
  font-size: 40px;
  margin-bottom: 25px;
  font-weight: 900;
}
.from-the-archives-section .container .star-cards {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}
.from-the-archives-section .container .star-cards .card .img-wrapper {
  width: 364px;
  height: 242px;
  margin-bottom: 20px;
}
.from-the-archives-section .container .star-cards .card .img-wrapper img {
  width: 100%;
  height: 100%;
}
.from-the-archives-section .container .star-cards .card .content {
  padding-right: 25px;
  text-align: left;
}
.from-the-archives-section .container .star-cards .card .content h1 {
  font-family: CaslonDoric, Times, serif;
  font-weight: 600;
  line-height: 1.5rem;
}
.from-the-archives-section .container .star-cards .card .content .time-category {
  margin-bottom: 10px;
}
.from-the-archives-section .container .star-cards .card .content .time-category .time {
  margin-left: 20px;
  font-size: 18px;
}
.from-the-archives-section .container .star-cards .card .content .time-category .category {
  font-size: 18px;
  color: #217d4d;
  font-weight: 700;
}
.from-the-archives-section .container .star-cards .card .content .by {
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
  line-height: 3rem;
}
.from-the-archives-section .container-addvertisement {
  background-color: white;
  margin-bottom: 50px;
}

.music-section {
  width: 100%;
}
.music-section .container {
  width: 65%;
  margin: auto;
}
.music-section .container .title {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid black;
  margin-top: 10px;
}
.music-section .container .title .title-logo {
  width: 90px;
  height: 53px;
  margin-top: 10px;
  background-image: url("../images/Screenshot 2023-12-17 192048.png");
  background-repeat: no-repeat;
}
.music-section .container .title span {
  font-size: 55px;
  font-weight: 900;
  margin-left: 8px;
  font-family: OriginalSans, Times, serif;
  margin-left: 0px;
}
.music-section .container .music-news-wrapper {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.music-section .container .music-news-wrapper .music-news-left-sect .img-wrapper {
  width: 770px;
  height: 460px;
  margin-bottom: 20px;
}
.music-section .container .music-news-wrapper .music-news-left-sect .img-wrapper img {
  width: 100%;
  height: 100%;
}
.music-section .container .music-news-wrapper .music-news-left-sect .img-content .time-category {
  margin-bottom: 10px;
}
.music-section .container .music-news-wrapper .music-news-left-sect .img-content .time-category .time {
  margin-left: 20px;
  font-size: 18px;
}
.music-section .container .music-news-wrapper .music-news-left-sect .img-content .time-category .category {
  font-size: 18px;
  color: #217d4d;
  font-weight: 700;
}
.music-section .container .music-news-wrapper .music-news-left-sect .img-content h1 {
  font-family: CaslonDoric, Times, serif;
  font-weight: 600;
  line-height: 1.5rem;
}
.music-section .container .music-news-wrapper .music-news-left-sect .img-content .by {
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
  line-height: 3rem;
}
.music-section .container .music-news-wrapper .music-news-right-sect .music-news {
  margin-bottom: 25px;
}
.music-section .container .music-news-wrapper .music-news-right-sect .music-news .music-news-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.music-section .container .music-news-wrapper .music-news-right-sect .music-news .music-news-box .news-img {
  width: 144px !important;
  height: 95px;
}
.music-section .container .music-news-wrapper .music-news-right-sect .music-news .music-news-box .news-img img {
  width: 100%;
  height: 100%;
}
.music-section .container .music-news-wrapper .music-news-right-sect .music-news .music-news-box .music-news-img-content {
  width: 230px;
}
.music-section .container .music-news-wrapper .music-news-right-sect .music-news .music-news-box .music-news-img-content p {
  font-weight: 400;
}
.music-section .container .music-news-wrapper .music-news-right-sect .music-news .music-news-box .music-news-img-content .by {
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
  line-height: 3rem;
}
.music-section .container .music-news-wrapper .music-news-right-sect .music-news .music-news-box .music-news-img-content .time-category {
  margin-bottom: 10px;
}
.music-section .container .music-news-wrapper .music-news-right-sect .music-news .music-news-box .music-news-img-content .time-category .time {
  margin-left: 20px;
  font-size: 18px;
}
.music-section .container .music-news-wrapper .music-news-right-sect .music-news .music-news-box .music-news-img-content .time-category .category {
  font-size: 18px;
  color: #217d4d;
  font-weight: 700;
}

.movie-section {
  width: 100%;
}
.movie-section .container {
  width: 65%;
}
.movie-section .container .title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid black;
  margin-top: 10px;
}
.movie-section .container .title .title-logo {
  width: 90px;
  height: 47px;
  margin-top: 10px;
  background-image: url("../images/Screenshot 2023-12-17 202307.png");
  background-repeat: no-repeat;
}
.movie-section .container .title span {
  font-size: 55px;
  font-weight: 900;
  margin-left: 8px;
  font-family: OriginalSans, Times, serif;
  margin-left: 0px;
}
.movie-section .container .movie-news-wrapper {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.movie-section .container .movie-news-wrapper .movie-news-left-sect .img-wrapper {
  width: 770px;
  height: 460px;
  margin-bottom: 20px;
}
.movie-section .container .movie-news-wrapper .movie-news-left-sect .img-wrapper img {
  width: 100%;
  height: 100%;
}
.movie-section .container .movie-news-wrapper .movie-news-left-sect .img-content .time-category {
  margin-bottom: 10px;
}
.movie-section .container .movie-news-wrapper .movie-news-left-sect .img-content .time-category .time {
  margin-left: 20px;
  font-size: 18px;
}
.movie-section .container .movie-news-wrapper .movie-news-left-sect .img-content .time-category .category {
  font-size: 18px;
  color: #217d4d;
  font-weight: 700;
}
.movie-section .container .movie-news-wrapper .movie-news-left-sect .img-content h1 {
  font-family: CaslonDoric, Times, serif;
  font-weight: 600;
  line-height: 1.5rem;
}
.movie-section .container .movie-news-wrapper .movie-news-left-sect .img-content .by {
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
  line-height: 3rem;
}
.movie-section .container .movie-news-wrapper .movie-news-right-sect .movie-news {
  margin-bottom: 23px;
}
.movie-section .container .movie-news-wrapper .movie-news-right-sect .movie-news .movie-news-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.movie-section .container .movie-news-wrapper .movie-news-right-sect .movie-news .movie-news-box .news-img {
  width: 144px !important;
  height: 95px;
}
.movie-section .container .movie-news-wrapper .movie-news-right-sect .movie-news .movie-news-box .news-img img {
  width: 100%;
  height: 100%;
}
.movie-section .container .movie-news-wrapper .movie-news-right-sect .movie-news .movie-news-box .movie-news-img-content {
  width: 230px;
}
.movie-section .container .movie-news-wrapper .movie-news-right-sect .movie-news .movie-news-box .movie-news-img-content p {
  font-weight: 400;
}
.movie-section .container .movie-news-wrapper .movie-news-right-sect .movie-news .movie-news-box .movie-news-img-content .by {
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
  line-height: 1.5rem;
}
.movie-section .container .movie-news-wrapper .movie-news-right-sect .movie-news .movie-news-box .movie-news-img-content .time-category {
  margin-bottom: 10px;
}
.movie-section .container .movie-news-wrapper .movie-news-right-sect .movie-news .movie-news-box .movie-news-img-content .time-category .time {
  margin-left: 20px;
  font-size: 18px;
}
.movie-section .container .movie-news-wrapper .movie-news-right-sect .movie-news .movie-news-box .movie-news-img-content .time-category .category {
  font-size: 18px;
  color: #217d4d;
  font-weight: 700;
}

.television-section {
  width: 100%;
  margin-left: 20px;
}
.television-section .container .title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid black;
  margin-top: 10px;
  margin-right: 20px;
}
.television-section .container .title .title-logo {
  width: 90px;
  height: 55px;
  background-image: url("../images/Screenshot 2023-12-17 222329.png");
  background-repeat: no-repeat;
}
.television-section .container .title span {
  font-size: 55px;
  font-weight: 900;
  margin-left: 8px;
  font-family: OriginalSans, Times, serif;
  margin-left: 0px;
}
.television-section .container .television-news-wrapper {
  padding-top: 20px;
  gap: 65px;
}
.television-section .container .television-news-wrapper .television-news-left-sect {
  margin-bottom: 25px;
}
.television-section .container .television-news-wrapper .television-news-left-sect .img-wrapper {
  width: 860px;
  height: 460px;
  margin-bottom: 15px;
}
.television-section .container .television-news-wrapper .television-news-left-sect .img-wrapper img {
  width: 100%;
  height: 100%;
}
.television-section .container .television-news-wrapper .television-news-left-sect .img-content .time-category {
  margin-bottom: 10px;
}
.television-section .container .television-news-wrapper .television-news-left-sect .img-content .time-category .time {
  margin-left: 20px;
  font-size: 18px;
}
.television-section .container .television-news-wrapper .television-news-left-sect .img-content .time-category .category {
  font-size: 18px;
  color: #217d4d;
  font-weight: 700;
}
.television-section .container .television-news-wrapper .television-news-left-sect .img-content h1 {
  font-family: CaslonDoric, Times, serif;
  font-weight: 600;
  line-height: 1.5rem;
}
.television-section .container .television-news-wrapper .television-news-left-sect .img-content .by {
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
  line-height: 3rem;
}
.television-section .container .television-news-wrapper .television-news-right-sect {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 20px;
}
.television-section .container .television-news-wrapper .television-news-right-sect .television-news {
  margin-bottom: 25px;
}
.television-section .container .television-news-wrapper .television-news-right-sect .television-news .television-news-box {
  width: 100%;
  height: auto;
  gap: 15px;
}
.television-section .container .television-news-wrapper .television-news-right-sect .television-news .television-news-box .news-img {
  width: 400px !important;
  height: 265px;
  margin-bottom: 15px;
}
.television-section .container .television-news-wrapper .television-news-right-sect .television-news .television-news-box .news-img img {
  width: 100%;
  height: 100%;
}
.television-section .container .television-news-wrapper .television-news-right-sect .television-news .television-news-box .television-news-img-content p {
  font-weight: 400;
}
.television-section .container .television-news-wrapper .television-news-right-sect .television-news .television-news-box .television-news-img-content .by {
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
  line-height: 3rem;
}
.television-section .container .television-news-wrapper .television-news-right-sect .television-news .television-news-box .television-news-img-content .time-category {
  margin-bottom: 10px;
}
.television-section .container .television-news-wrapper .television-news-right-sect .television-news .television-news-box .television-news-img-content .time-category .time {
  margin-left: 20px;
  font-size: 18px;
}
.television-section .container .television-news-wrapper .television-news-right-sect .television-news .television-news-box .television-news-img-content .time-category .category {
  font-size: 18px;
  color: #217d4d;
  font-weight: 700;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
  margin-top: 40px;
}
footer .container {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0px;
}
footer .container .footer-left .footer-logo {
  font-size: 48px;
  margin-bottom: 35px;
}
footer .container .footer-left .newsletter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 2rem;
  background: #fff;
  width: 18.75rem;
  border: 3px solid black;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}
footer .container .footer-left .social-media span {
  color: #545454;
  margin-bottom: 10px;
}
footer .container .footer-left .social-media .social-media-icons {
  margin-top: 15px;
}
footer .container .footer-left .social-media .social-media-icons svg {
  margin-right: 30px;
}
footer .container .footer-right {
  margin-top: 80px;
}
footer .container .footer-right .full-links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  list-style: none;
}
footer .container .footer-right .full-links .nav-items {
  list-style: none;
  font-weight: 900;
}
footer .container .footer-right .full-links .nav-items li {
  margin-bottom: 20px;
}
footer .container .footer-right .full-links .about-us,
footer .container .footer-right .full-links .terms-service {
  list-style: none;
  font-weight: 450;
}
footer .container .footer-right .full-links .about-us li,
footer .container .footer-right .full-links .terms-service li {
  margin-bottom: 20px;
}

form {
  width: 60%;
  height: 100vh;
  margin-left: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
form input {
  height: 50px;
  width: 400px;
  border-radius: 5px;
  padding: 10px;
  border-color: 1px solid lightgray;
}
form button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  border-color: lightgray;
}

.table {
  width: 100%;
}
.table .table-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table .table-content {
  width: 100%;
}
.table .table-content .table-row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table .header__item {
  border: 1px solid lightgray;
  height: 60px;
  text-align: center;
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.table .table-data {
  border: 1px solid lightgray;
  height: 60px;
  text-align: center;
  font-weight: 450;
  font-size: 18px;
  text-decoration: none;
}
.table .id {
  width: 12%;
  text-decoration: none;
}
.table .category {
  width: 12%;
  text-decoration: none;
}
.table .content {
  width: 12%;
  text-decoration: none;
}
.table .title {
  width: 12%;
  text-decoration: none;
}
.table .url {
  width: 12%;
  text-decoration: none;
}
.table .image {
  width: 12%;
  text-decoration: none;
}
.table .edit {
  width: 12%;
  text-decoration: none;
}
.table .delete {
  width: 12%;
  text-decoration: none;
}
.table .deleteBtnAdmin {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: red;
  border: none;
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.table .table-data.id,
.table .table-data.category,
.table .table-data.content,
.table .table-data.title,
.table .table-data.url,
.table .table-data.image {
  padding: 20px 0px;
}
.table .editBtnAdmin {
  padding: 0px;
  width: 100%;
  height: 60px;
  background-color: skyblue;
  border: none;
  color: white;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */